/*** 호환성을 위한 스타일 ***/

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,menu{margin:0;padding:0;-webkit-text-size-adjust:none}
/*
body,input,textarea,select,table,button{font-size:13px;line-height:1.25em;font-family:"나눔고딕",NanumGothic,"굴림",Gulim,Helvetica,AppleGothic,Sans-serif}
*/
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
body.o{min-width:320px}
img,fieldset{border:0}
ul,ol,menu{list-style:none}
hr{display:none !important}

/*
a{color:#000;text-decoration:none;cursor:pointer}
*/
.hc, .gct {font-size: 0;height: 0;left: -1000em;line-height: 0;overflow: hidden;position: absolute;visibility: hidden;width: 0;}

/* head */
/*
#hd {background: none repeat scroll 0 0 #FFFFFF;height: 56px;}
*/
/*
#hd {background-image: url('../images/bg-top-logo-m.jpg');height: 56px;}
#hd h1 {font-size: 1.2em;height: 56px;position: absolute;width: 95px;z-index: 1; }
*/
/*
#hd h1 a {color: #33BB00;display: block;position: absolute;right: 5px;top: 18px;}
*/

/*
#hd h1 a {color: #BBB;display: block;position: absolute;right: 5px;top: 18px;}
#hd #h1img {font-size: 1.2em;height: 56px;position: absolute;width: 120px;z-index: 1; }
#hd #h1img a {color: #33BB00;display: block;position: absolute;right: 0px;top: 0px;}
*/

/* head search */
.sh1 {position: relative;width: 100%;}
/*
.sh1w {padding: 12px 61px 0 95px;}
*/
.sh1w {padding: 12px 61px 0 120px;}
/* .sh1 .itw {background: none repeat scroll 0 0 #FFFFFF;border: 5px solid #2080D0;display: block;height: 19px;padding: 3px 30px 0 0.35em;} */
.sh1 .itw {background: none repeat scroll 0 0 #FFFFFF;border: 5px solid #666;display: block;height: 19px;padding: 3px 30px 0 0.35em;}
.sh1 .it {border: 0 none;font-size: 1em;width: 100%;}
.sh1 .sbt3 {position: absolute;right: 14px;top: 12px;vertical-align: middle;}

/* header */
.rk {background: url("../img/bgbar1.gif") repeat-x scroll 0 0 #000000;height: 33px;letter-spacing: -1px;line-height: 33px;position: relative;z-index: 2;}
.rk h2 {color: #fff;font-size: 0.9em;left: 13px;position: absolute;top: 0;}
.rk .btop, .rk .btfd {background: url("../img/buv.png") no-repeat scroll 0 -642px #008800;height: 23px;overflow: hidden;position: absolute;right: 14px;text-indent: -500em;top: 5px;width: 25px;z-index: 2;}

.rkc {height: 33px;overflow: hidden;}
.rkc .dy, .rkc ol, .rkc .pg { display: none;}
/* .rkc p {position: relative;width: 100%;} */
.rkc p {position: relative;width: 100%; color: #FFFFFF;}
.rkc #rank { margin: 0 3.2em 0 6.75em;}
.rkc p a {color: #FFFFFF;display: block;padding: 0 3.2em 0 1.45em;position: relative;z-index: 2;}

/* rk2, rkc2 */
.rk2 {background: url("../img/bgbar2.gif") repeat-x scroll 0 0 #000000;height: ;letter-spacing: -1px;line-height: 33px;position: relative;z-index: 2;}
.rk2 h2 {color: #fff;font-size: 1em;left: 13px;position: absolute;top: 0;}
.rk2 .btop, .rk2 .btfd {background: url("../img/buv.png") no-repeat scroll 0 -642px #008800;height: 23px;overflow: hidden;position: absolute;right: 14px;text-indent: -500em;top: 5px;width: 25px;z-index: 2;}

.rkc2 {height: ;overflow: hidden; font-size:1.1em}
.rkc2 .dy, .rkc2 ol, .rkc2 .pg { display: none;}
.rkc2 p {position: relative;width: 100%;}
.rkc2 #rank { margin: 0 3.2em 0 6.75em;}
.rkc2 p a {color: #FFFFFF;display: block;padding: 0 3.2em 0 1.45em;position: relative;z-index: 2;}

.rkc2 div {color: #FFFFFF;}
.rkc2 div a {color: #FFFFFF;}

.rkc2 .menu {color: #BBB;font-weight:bold}
.rkc2 .menu_on {color: #FFF;font-weight:bold}

.rkl {left: 0;position: absolute;top: 33px;width: 100%;z-index: 2;}
.rkl #rank {background: none repeat scroll 0 0 #FFFFFF;overflow: hidden;}
.rkl .dy {background: url("../img/buv.png") no-repeat scroll 0 -554px transparent;color: #FFFFFF;font-size: 0.93em;left: 7.8em;letter-spacing: 0;padding-left: 0.64em;position: absolute;top: -33px;}
.rkl .pgw {background: url("../img/e.gif") repeat scroll 0 0 transparent;clear: both;height: 75px;}
.rkl .pg {background: url("../img/bgbar1.gif") repeat-x scroll 0 -65px #F8F8F8;border-bottom: 1px solid #383E52;border-top: 1px solid #FFFFFF;font-size: 0.93em;height: 35px;padding: 0 14px;text-align: right;}
.rkl .pg a{background: url("../img/buv.png") repeat-x scroll 0 -717px #F1F1F1;color: #666666;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 52px;}
.rkl li a {display: block;font-size: .8em;text-align: center;position: relative;z-index: 2; padding: 5px;}
.rkl li {border: 1px solid #dfdfdf;line-height: 45px;position: relative; float: left; width: 65px; overflow: hidden; margin: 4px; border-radius: 8px; background-color: #efefef}
.rkl .rpg1, .rkl .rpg2 { padding-top: 1px;}

.rk .btop, .rk .btfd {background: url("../img/groupmenu.png") no-repeat scroll 0px 0px #0989A6;height: 23px;overflow: hidden;position: absolute;right: 14px;text-indent: -500em;top: 5px;width: 50px;z-index: 2;}
.rk .btfd {background-position: -50px 0px;top: -28px;}

.to {background: url("../img/bgbar1.gif") repeat-x scroll 0 -33px #F1F2F1;font-size: 0.93em;height: 32px;line-height: 32px;margin-bottom: 3px;position: relative;width: 100%;}
.my {color: #909090;margin-left: 13px;}
.my a {background: url("../img/buv.png") repeat-x scroll 0 -717px #F1F1F1;color: #666666;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 52px;}
.we {color: #666666;position: absolute;right: 7px;top: 0;}
.we .dy {display: inline-block;height: 32px;vertical-align: top;}
.we a {display: inline-block;height: 32px;letter-spacing: -1px;padding-left: 0.2em;position: relative;vertical-align: top;}
#ct:after {clear: both;content: "";display: block;}

/* tel number link */
.tel {text-align:center; height:40px; padding-bottom:1px; border-bottom:1px solid #333}
.tel span {float:left;margin-left:3px;padding:10px;font-size:16px;font-weight:bold;color:#333;background:#fafafa; border: 1px solid #bbb; border-radius:4px}
.tel a {color:#777}
.tel .btna {width:60px; float:right; margin-right:0px; margin-top:10px; border-radius:4px}
.tel .btnb {width:60px; float:right; margin-right:3px; margin-top:10px; border-radius:4px}

/* footer */
.ft {border-top: 1px solid #DFE1E3;clear: both;color: #D5D6D8;text-align: center;white-space: nowrap;}
.ft a {color: #666;}
/* .ft1 {color: #909090;padding: 13px 0 15px;} */
.ft1 {color: #909090;padding: 3px 0 15px;}
/* .ft1 a {background: url("../img/ft.gif") no-repeat scroll 0 3px transparent;color: #333;display: inline-block;font-size: 14px;margin-right: -4px;padding: 0 1.5em;} */
.ft1 a {color: #333;display: inline-block;font-size: 14px;margin-right: -4px;padding: 0 1.5em;}
.ft1 a.f {background: none repeat scroll 0 0 transparent;}
.ft2bt {background: url("../img/ft.gif") repeat-x scroll 0 -42px #E9E9E9;border: 1px solid #ACB0B6;display: inline-block;font-size: 13px;height: 25px;letter-spacing: -1px;line-height: 25px;padding: 0 0.6em;}
/* .ft3 {color: #D6D6D6;font-size: 0.86em;padding: 0 0 0.3em;} */
.ft3 {color: #fff;font-size: 0.86em;padding: 0.3em 0 0.3em; background:#333;}
.ft3 a {color: #fff;}
.ft3 .dv {margin: 0 0.4em;}
.cr {clear: both;color: #909090;font-size: 10px;padding: 9px 0 10px;text-align: center;}
em, address {font-style: normal;}

/* contents */
/*#g4_content{padding: 0 5px;}*/
#g4_content{padding: 30px 5px 0;}

/*g4_latest*/
.g4_latest{margin-bottom: 20px;}
.g4_latest h2 {position: relative; font-size: 1.2em; padding-left: 10px; line-height:2em; border-bottom: 1px solid #333}
.g4_latest h2 a.more{position: absolute; right: 5px;font-size:.8em;}
.g4_latest {clear: both;overflow: hidden;padding: 2px 0 11px;vertical-align: top;width: 100%;}
.g4_latest .li1 li:first-child {border-top: 0 none;}
.g4_latest .li1 li {border-top: 1px solid #E5E5E5;height: 2.43em;padding: 0 10px;}
.g4_latest .li1 li a {color: #000;display: inline-block;letter-spacing: -1px;line-height: 2.43em;overflow: hidden;white-space: nowrap;width: 100%;}
.g4_latest .li1 li a span.lt_cmt {font-style: italic; color: #447DC4; font-size: .85em;}

/* g4_accodion latest */
div.g4_accodion{border-radius:4px; border: 1px solid #ccc; padding:8px; margin-top: 5px; margin-bottom: 5px;}
div.g4_accodion{background-color: #efefef}
div.g4_accodion ul {margin-top: 10px;}
div.g4_accodion h3{display: block;position: relative;}
div.g4_accodion h3 a.more {position: absolute; top:0px; right: 5px; font-size: .8em;}
div.g4_accodion ul li{ line-height: 2em; border-bottom: 1px dotted #ccc;}
div.g4_accodion ul li a{padding-left: 5px;display:  block}
div.g4_accodion ul li a span.lt_cmt {font-style: italic; color: #447DC4; font-size: .85em;}

/* mobile gallery latest*/
/* div.g4_gallery {overflow: hidden;border: 1px solid #ccc; border-radius:8px; background-color: #efefef} */
div.g4_gallery {overflow: hidden;border: 1px solid #ccc; border-radius:8px; background-color: #fafafa}
div.g4_gallery h3{padding: 10px; border-bottom: 1px solid #ccc}

div.g4_gallery ul li a{display: block;}
div.g4_gallery ul li a.subject{font-size: .85em;}
/* div.g4_gallery h3{display: block;position: relative;} */
div.g4_gallery h3{display: block;position: relative; font-size: 1.2em;}
div.g4_gallery h3 a.more {position: absolute; top:8px; right: 10px; font-size: .8em;}
    
/* mobile gallery main latest*/
/* div.g4_gallery_main {overflow: hidden;border: 1px solid #ccc; border-radius:8px; background-color: #efefef} */
div.g4_gallery_main {overflow: hidden;border: 1px solid #ccc; border-radius:8px; background-color: #fafafa}
div.g4_gallery_main h3{padding: 10px; border-bottom: 1px solid #ccc}

div.g4_gallery_main ul li a{display: block;}
div.g4_gallery_main ul li a.subject{font-size: .85em;}
/* div.g4_gallery_main h3{display: block;position: relative;} */
div.g4_gallery_main h3{display: block;position: relative; font-size: 1.2em;}
div.g4_gallery_main h3 a.more {position: absolute; top:8px; right: 10px; font-size: .8em;}
    
/* 멤버 로그인 */
#login {font-size: 23px; margin: 0 10px;}
#login h1 {font-size: 1em;padding: 0.9em 0 0.7em;}
.sc1 {background-color: #F1F1F1;border: 1px solid #BEBEBE;}
#login fieldset {border: 1px solid #FFFFFF;position: relative;}
.ia {margin: 28px 0;position: relative;width: 100%;}
.ip {padding: 0 127px 0 28px;}
.ip input {width: 100%; font-size: 23px;}
.it input{font-size: 23px;}
.ip li {margin-top: 7px;vertical-align: top;width: 100%;}
.ip li {list-style: none outside none;}
.it {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #9B9B9D;display: block;}
.it input {border: 0 none;height: 44px;width: 100%;}
.il {background: url("../img/lb.gif") no-repeat scroll 0.6em 14px #FFFFFF;}
.pl {background: url("../img/lb.gif") no-repeat scroll 0.6em -70px #FFFFFF;}
.ac {bottom: 0;padding-bottom: 1px;position: absolute;right: 0;width: 120px;}
.ac input {background: url("../img/bt_p1.gif") repeat-x scroll 0 -65px #F1F1F1;border: 1px solid #BCBCBC;color: #666;cursor: pointer;display: block;font-size: 0.9em;font-weight: bold;height: 46px;letter-spacing: -1px;margin-top: 17px;overflow: visible;text-indent: -2px;vertical-align: middle;white-space: nowrap;width: 93px;}
.ot {clear: both;color: #666;margin-top: -0.5em;padding: 0 0 28px 28px;white-space: nowrap;}
.sc2 {padding: 1.4em 1.4em 0.4em;}
.sc2 h2 {font-size: 1em;margin-bottom: 1em; line-height: 1.2em;}
.sc2 p {color: #686868;font-size: 0.85em;margin-bottom: 1em;line-height: 1.2em;}

/* paging */
#paging {margin-bottom: 15px;margin-top: 15px;text-align: center;}
#paging b {background-color: #CCCCCC;}
#paging a, #paging b {border: 1px solid #CCCCCC;height: 22px;margin: 0;padding: 6px 8px;}

/* board skin btn */
a.btn {font-size:12px;background: url("../img/buv.png") repeat-x scroll 0 -717px #F1F1F1;color: #666;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 52px;}
button.btn {font-size:12px;background: url("../img/buv.png") repeat-x scroll 0 -717px #F1F1F1;color: #3333ff;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 52px; border: medium; padding: 0 0 3px 0; }
input.btn {font-size:12px;background: url("../img/buv.png") repeat-x scroll 0 -717px #F1F1F1;color: #666;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 52px; border: medium; padding: 0 0 3px 0; }
a.btn2 {font-size:12px;background: url("../img/buv.png") repeat-x scroll 0 -739px #F1F1F1;color: #333;display: inline-block;height: 22px;line-height: 22px;margin: 4px 0 0 1px;text-align: center;width: 62px;}

/* name sidebar */
#nameContextMenu table a{font-size: 1em;display: block; line-height: 1.5em; border-bottom: 1px dotted #666; padding: 2px; text-align: center}
#nameContextMenu table {box-shadow:6px 6px 2px rgba(0, 0, 0, 0.40);-moz-box-shadow:6px 6px 2px rgba(0, 0, 0, 0.40);-webkit-box-shadow:6px 6px 2px rgba(0, 0, 0, 0.40); border-radius: 8px;}

/* sub title */
div.wr_title {height: 33px; background-color: #efefef; border-bottom: 1px solid #666; position: relative; line-height: 33px; text-align: center;}
div.wr_title h1{font-size: 1.2em;}
div.wr_title p.l,div.wr_title p.r{position: absolute; top:.1em;}
div.wr_title p.l {left:5px;}
div.wr_title p.r {right: 5px;}
 
/* memo formmail */
ul.memo li{position: relative}
ul.memo li a{display: block; border-bottom: 1px solid #ccc; line-height: 30px;}
ul.memo li a span.se{font-size: .85em; color: #996600}
ul.memo li a span.se_date{font-size: .8em; color: #666;letter-spacing: -1px}
ul.memo li p.me_del{position: absolute; top:15px; right: .2em;}
div.me_btn{margin: 10px; overflow: hidden}
div.me_btn a.l{float: left;}
div.me_btn a.r{float: right;}
article div.me_content{line-height: 1.5em; background-color: #efefef; padding: 10px;}
form.me_form input,form.me_form textarea{border:1px solid #666;}
.me1{padding-top: .7em; position: relative}
.me2{padding-top: 1em; position: relative; height: 65px;}
.me2 dt{color: #666666;left: 10px;position: absolute;top: 1em;white-space: nowrap;}
.me2 dd{padding-right: 0px;padding-left: 10em;letter-spacing: -1px;}
.me1 dt{display: none;}
.me1 dd{padding-right: 10px;padding-left: .4em;}

/* new.php */
div.new_title {border-bottom: 2px solid #2B5EB0;padding: 0.7em 0;position: relative;white-space: nowrap;width: 100%;}
div.new_title h2 {display: inline;font-size: 1.05em;margin-right: -0.3em;padding-left: 10px;}
div.new_head{padding: 10px;}
div.new_list{padding: 0 10px}
div.new_list li {border-bottom: 1px solid #CCCCCC;line-height: 35px;color: #000000;display: inline-block;line-height: 2.43em;overflow: hidden;white-space: nowrap;width: 100%;}
div.new_list li a.group { color: #3333ff}
div.new_list li a.subj { color: #333; display: block; font-weight: bold}
div.new_list li .wr,div.new_list li .wr a{font-size: .9em; color: #666600; padding-left: 5px;}

/* search.php */
div.search_title {border-bottom: 2px solid #2B5EB0;padding: 0.7em 0;position: relative;white-space: nowrap;width: 100%;}
div.search_title h2 {display: inline;font-size: 1.05em;margin-right: -0.3em;padding-left: 10px;}
div.search_box p{padding:5px;margin:5px; text-align: center;}
div.search_box p input{border: 1px solid #666;}
ul.search_list li{line-height: 3em;-moz-border-radius: 10px;border-radius: 10px; border: 1px solid #ccc; margin-bottom: 5px;}
ul.search_list li a{display: block;}
ul.search_list li.sch_bbs{padding-left: 20px;}
div.search_result {-moz-border-radius: 10px;border-radius: 10px; border: 1px solid #ccc; padding:10px; margin-bottom: 5px;}
div.sr_title {padding: 10px; border-bottom: 2px solid #ccc; margin-bottom: 10px; }
div.search_result ul li{ border-bottom: 1px dotted #ccc; position: relative;margin-bottom: 5px; padding: 5px 0 5px 0; text-align: justify}
div.search_result ul li p{position: absolute; top:1px ;right: 5px; font-size: 0.85em;}
div.search_result ul li a{display: block; color: #3366ff; width: 70%;overflow: hidden}
div.search_result span.sr_content{color:#666; font-size: .8em;}

/* profile */
ul#profile li{ line-height: 3em; border-bottom: 1px solid #ccc;}

/* etc */
.noticebox{border: 1px solid #cccccc; padding: 5px; line-height: 1.5em; color: #ff3333;font-size: .9em; background-color: #ffff99; margin: 10px 0 10px 0}

/*** 호환성을 위한 스타일 끝 ***/

@charset "utf-8";
/* SIR 지운아빠 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-size:1em}
button {cursor:pointer}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:0;font-size:1em;-webkit-appearance:none}
textarea, select {font-size:1em;font-family:dotum}
textarea {border-radius:0;-webkit-appearance:none}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:underline}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:100%;height:1px}
#hd_pop h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 상단 레이아웃 */
#hd {position:relative;background:#fff}
#hd:after {display:block;visibility:hidden;clear:both;content:""}
#hd_h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/*#logo {padding:15px 10px}*/
#logo {padding:21px 10px}

/*#gnb_open {position:absolute;top:10px;right:60px;padding:0 10px;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em}*/
#gnb_open {position:absolute;top:16px;right:60px;padding:0 10px;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em}
#gnb {display:none;background:#282828}
#gnb a {display:block;color:#efefef}
.gnb_1da {padding:10px;border-top:1px solid #191919}
.gnb_2dul {background:#383838}
.gnb_2da {padding:10px;border-top:1px solid #282828}
.gnb_2da span:before {display:inline-block;margin:0 10px 0 0;color:#666;content:'▶'}
#gnb_close {display:block;margin:0;padding:10px 0;width:100%;border:0;background:#000;color:#fff}

#gnb_empty {padding:20px 0;color:#fff;text-align:center;line-height:2em}
#gnb_empty a {display:inline;text-decoration:underline}

/*#hd_sch_open {position:absolute;top:10px;right:10px;padding:0 10px;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em}*/
#hd_sch_open {position:absolute;top:16px;right:10px;padding:0 10px;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em}
#hd_sch {display:none;border-top:1px solid #181818;background:#282828;text-align:center}
#hd_sch h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#hd_sch form {position:relative;padding:30px 0}
/*#hd_sch #sch_stx {height:30px;border:1px solid #181818;background:#323232 !important;line-height:2.5em;vertical-align:middle}*/
#hd_sch #sch_stx {height:30px;border:1px solid #181818;background:#f5f5f5 !important;line-height:2.5em;vertical-align:middle}
#hd_sch #sch_submit {margin:0;padding:0 10px;height:32px;border:0;background:#000;color:#fff;vertical-align:middle}
#hd_sch #sch_close {display:block;margin:0;padding:10px 0;width:100%;border:0;background:#000;color:#fff}

#hd_nb {clear:both;background:#ecf0f7;text-align:center}
/* #hd_nb li {display:inline-block} */
#hd_nb li {display:inline-block;zoom:1;*display:inline/*IE7 HACK*/;_display:inline;/*IE6 HACK*/}
#hd_nb li:nth-last-of-type(1) {border-right:0 !important}
#hd_nb a {display:inline-block;padding:10px 7px;text-decoration:none}

#lnb {}
#lnb ul {margin:0;padding:0;border-bottom:1px solid #e7f1ed;list-style:none}
#lnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#lnb li {float:left;margin-bottom:-1px;width:25%}
#lnb a {display:block;padding:10px 0;border-right:1px solid #e7f1ed;border-bottom:1px solid #e7f1ed;color:#000;text-align:center;text-decoration:none}
#lnb li:nth-of-type(4n) a {border-right:0}

/* 중간 레이아웃 */
#wrapper {margin:20px 0}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#container {position:relative;min-height:300px}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {margin:0 10px 20px;font-size:1.2em;font-weight:bold}

/* 텍스트 크기 조절 */
#text_size {margin:0 0 10px;text-align:center}
#text_size button {margin:0;padding:2px 2px 1px;border:1px solid #c3c6ca;background:transparent;vertical-align:middle}
.ts_up {font-size:1.167em !important}
.ts_up2 {font-size:1.3em !important}

/* 하단 레이아웃 */
#ft {;border-top:1px solid #dde4e9;background:#f2f5f9}
#ft h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#ft p {margin:0;padding:10px 0;line-height:1.8em}

#ft_copy {padding:10px;background:#414141;color:#fff;line-height:2em}
#ft_copy #ft_company {text-align:center}
#ft_copy #ft_company a {display:inline-block;padding:5px 10px}
#ft_copy b {color:inherit}
#ft_copy a {color:inherit;text-decoration:none}
#ft_copy p {margin:0;padding:0;text-align:right}

/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0 !important;line-height:0 !important;overflow:hidden}
/* 본문 바로가기 */
.to_content a {z-index:100000;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha #captcha_img {width:60px;height:30px;border:1px solid #e9e9e9}
#captcha #captcha_reload {margin:0;padding:0 5px;height:32px;border:0;background:#e4eaec;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_key {margin:0 0 0 4px;padding:0 5px;width:50px;height:30px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:2em}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 버튼 */
a.btn01 {display:inline-block;padding:8px 7px 7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:8px 7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {padding:8px;border:0;background:#ff3061;color:#fff;letter-spacing:-0.1em}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}

a.btn_cancel {display:inline-block;padding:8px 7px 7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:1.9em;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top;line-height:1.9em} /* 우편번호검색버튼 등 */
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;margin:0 0 3px;padding:8px 7px 7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;margin:0 0 3px;padding:8px 7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;margin:0 0 3px;padding:8px 7px 7px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap {margin:0 10px 10px}
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;color:#4b8b99;font-weight:bold;text-align:left}

.tbl_head01 {}
.tbl_head01 caption {padding:0 0 10px;color:#777;text-align:left}
/* .tbl_head01 thead th {padding:12px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em} */
.tbl_head01 thead th {padding:12px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#f5f5f5;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.tbl_head01 tfoot td {border-color:#666;background:#484848;color:#fff;font-weight:bold;text-align:center}
.tbl_head01 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}

.tbl_head02 {}
.tbl_head02 caption {padding:0 0 10px;color:#777;text-align:left}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.tbl_head02 tfoot td {border-color:#666;background:#484848;color:#fff;font-weight:bold;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}

/* 폼 테이블 */
.tbl_frm01 {}
.tbl_frm01 th {padding:10px 0;width:90px;border:1px solid #e9e9e9;border-left:0;text-align:left}
.tbl_frm01 td {padding:10px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;vertical-align:middle;line-height:1.8em;-webkit-appearance:none}
.tbl_frm01 textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px;width:100%}
.tbl_frm01 .frm_info {display:block;padding:5px 0 0;color:#666;line-height:1.3em}

/* 자료 없는 목록 */
.empty_table {padding:20px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:150px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #4e5d60;border-bottom:1px solid #e9e9e9;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .tbl_wrap {margin:0 20px}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:10px 20px}

.new_win .win_btn {clear:both;margin:20px;text-align:center}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:2.5em;background:#666;color:#fff;text-decoration:none;vertical-align:middle;line-height:2.5em}
.new_win .win_btn button {display:inline-block;padding:0 10px;height:2.5em;border:0;background:#666;color:#fff;text-decoration:none;line-height:2.5em}
.new_win .win_btn input {padding:0 10px;height:2.5em;line-height:2.5em}

/* 내용관리 */
#ctt {margin:10px 0;padding:10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.ctt_admin {margin:0 5px;text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0}
.ctt_img {text-align:center}

/* 검색결과 색상 */
.sch_word {color:#ff3061}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:25px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#e4eaec;text-decoration:none}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#333;color:#fff;font-weight:normal}

/* PC화면으로 */
#device_change {display:block;margin:5px;padding:5px 0;border:0px solid #eee;border-radius:0.0em;color:#000;font-size:1.2em;text-decoration:none;text-align:center}

/*메일인증*/
.rg_em_p{padding:0 5px}
.rg_em{margin:5px 5px 10px;}
.rg_em table{width:100%;border-collapse:collapse}
.rg_em caption{padding:0;font-size:0;line-height:0;overflow:hidden}

/* powered by */
#powered_by {padding:0 10px 6px; font-size:10px; color:#777; text-align:center}
#powered_by a {color:#555; /*text-decoration:none*/}

/* no display */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden;display:none}
