/* #float-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:auto;
} */



#fitting-button{
    display:block;
    width: 75px;
    height: 75px;
    background-image: url("https://uploads-ssl.webflow.com/5716591d5f7225ad2b599e17/59254de04bdbd42c25949d8f_icon-changing-dark.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.fitting-button{
    width:100%;
    height: 100%;
}

.back_modal{
    float: left;
    position: absolute;
    z-index: 1000;
    display: none;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    padding: 0px 0px 0px 0px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    z-index: 9999;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position:absolute;
    left: 13%;
    top: 21%;
}

#coco{
    float:left;
    display: block;
}

.fit_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


@media (max-width: 900px){
    #bottom-nav {
        position: fixed;
        bottom: 0px;
        width:100%;
        display: flex;
        height: 15%;
        background-color: #95a4df;
    }
    .bottom-box{
        display: flex;
        width: 200px;
        height: 100px;
        margin: 1em;
    }
    #bottom-user-image{
        width:100%;
        height: 100%;
        z-index: 99;
    }

    .circle-btn {
        display:block;
        width:100%;
        height:62px;
        line-height:50px;
        border: 2px solid #f5f5f5;
        border-radius: 50%;
        color:#f5f5f5;
        text-align:center;
        text-decoration:none;
        background: #46464638;
        box-shadow: 0 0 3px gray;
        font-size:12px;
        font-weight:bold;
    }
    .circle-btn:hover{
        color:#f5f5f5;
    }

    .img-nav{
        width: 20%;
    }

    
    #coco-bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 3;
        display: flex;
        align-items: flex-end;
      }
  
    #bottom-user {
        position: relative;
        width: 187px;
        height: 266px;
        z-index: 2;
    }

    #bottom-fc{
        background-color: #b4bade;
        height: 125px;
        flex: 1 1 50%;
        overflow-x: auto;
        display: flex;
    }

    .coco-bottom-wrapper{
        background-color: #7e8dd4;
        display: flex;
        flex-direction: column;
        flex: 0 50%;
    }
  
    .bottom-item{
        width: 75px;
        height: 75px;
        margin-right: 5px;
    }

    .bottom-fc-wrapper{
        width: 100%;
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x : auto;
        background-color: #7e8dd4;
    }

    .bottom-fc-wrapper::-webkit-scrollbar {
        display: none; 
    }

    .bottom-button{
        color: #eef1ef;
        text-align: center;
    }

    #coco-button{
        text-decoration: none;
    }
    
    .main-card{
        width: 99px;
        height: 153px;
        background-color: red;

    }
    .sub-card{
        width : 93px;
        height: 129px;
        background-color: red;
        margin-right: 17px;
        margin-left: 17px;
    }

    .concept-card{
        width:91%;
        height: 15%;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 21px;
        line-height: 76px;
    }

    .nav-button{
        width: 20%;
        height: 60px;
        background-color: #94a3dd;
        text-align: center;
        color: white;
    }

    .nav-button a img{
        width: 25px;
        height: 25px;
    }

    .nav-button a div{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 6px;
        vertical-align: top;
        display: inline-block;
        text-align: center;
    }

    .caption{
        display: block;
        color: white;
        font-size: 10px;
    }

    ul {
        padding-left: 0px;

    }

    .coco-active{
        box-shadow: 0px 16px 76px 19px rgba(62, 62, 62, 0.15);
        /* background-color: #94a3dd; */
    }

    .coco-active::after{
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: white;
        content: '';
        position: relative;
        top: -12px;
        z-index: 1;
    }

    .big-coco-button{
        width: 100%;
        height: 63px;
        background-color: white;
        text-align: center;
    }

    /* .big-coco-button a div{
        line-height: 63px;
    } */

    

    .small-line{
        width:100%;
        height: 1px;
        background-color: #ececec;
    }

    .middile-line{
        width:100%;
        height: 20px;
        background-color: #ececec;
    }

    .thick-line{
        width:100%;
        height: 30px;
        background-color: #ececec;
    }
    

    .small-coco-button{
        width: 100%;
        height: 35px;
        position: relative;
        background-color: white;
        padding-left: 5px;
        font-weight: bold;
        font-size: 11px;
    }

    .small-coco-button a div{
        margin-left: 10px;
        line-height: 35px;
    }

    .small-coco-button a img{
        height: 73%;
        position: relative;
        padding-top: 3px;
        margin-right: 4px;
        line-height: 15px;
        width: 6%;
    }

    .coco-side-scroll {
        display: flex; /* [1] */
        min-width: 100%;
        overflow-x: auto;
        margin-top:10px;
    }
      
    .coco-side-scroll::-webkit-scrollbar {
        display: none; 
    }

    .coco-codi-scroll {
        display: flex; /* [1] */
        width : 80%;
        float: right;
        min-height: 62px;
        overflow-x: auto;
    }
      
    .coco-codi-scroll::-webkit-scrollbar {
        display: none; 
    }

    .coco-cate {
        min-width: 87px;
        min-height: 71px;
        margin-right: 5px;
        text-align: center;
    }

    .coco-cate img{
        width: 35px;
        position: relative;
        z-index: 1;
    }

    .coco-cate .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
    }
      
      .coco-cate .img::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        background-color: #dee2e6;
        border-radius: 50%;
      }
      
      .coco-cate .img::after {
        position: absolute;
        content: '';
        width: 55px;
        height: 55px;
        background-color: #f8f9fa;
        border-radius: 50%;
      }

    .coco-cate .caption{
        font-size: 10px;
        width: 60px;
    }

    .coco-content{
        margin-left: 10px;
    }

    .coco-shop{
        position: relative;
        flex: 0 calc(33.333% - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 5px;
        height: 100px;
        width: 60px;
        height: 60px;
        text-align: center;
    }

    .coco-shop::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        border: solid 3px #b5b5b5;
        border-radius: 50%;
    }

    .coco-shop a{
        z-index: 2;
    }
    html, body {
        width: 100vw;
        height: 100vh;
     }

    .coco-codi{
        position: relative;
        min-width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        z-index: 2;
    }

    .coco-codi::after{
        position: absolute;
        content: '';
        width: 60px;
        background-color: #b5b5b5;
        height: 60px;
        border: solid 3px #b5b5b5;
        border-radius: 50%;
        z-index: -1;
    }

    ul{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #item_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding-top: 10px;
        margin-left : 3px;
        border-radius: 21.1px;
    }

    .coco-fitting-item{
        display: flex;
        width: 100%;
        flex: 0 50%;
        text-align: center;
    }

    .coco-fitting-wrap{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .coco-item-image{
        position: relative;
        border: 1px solid #ccc;
        border-radius: 7%;
        width: 80px;
        height: 80px;
    }

    .coco-fitting-wrap.item-active::before{
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        background-color: #f7bdbc;
        z-index: 2;
        opacity: 0.3;
    }

    .fitting-row{
        display: flex;
    }

    .fitting-row-flex{
        flex: 0 50%;
    }

    .item-name{
        font-size: 13px;

    }

    .item-price{
        font-size: 11px;

    }
}

.navbar {
    text-align: center;
}

.nav {
    display: inline-block;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex {
    display: flex;
    justify-content: space-between;
    width: initial !important;
}



