body {
    margin-bottom: 120px;
}
#demo {
    font-family: dotum;
    z-index: 10000;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px 3px 5px;
    background: #96B37E;
    opacity: 0.85;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 #777;
    box-shadow: 0 1px 2px 0 #777;
}
#demo select {
    width:200px;
    background: #fff;
    margin: 0;
    padding: 1px;
    border: 1px solid #5CAE39;
    border-radius: 3px;
    color: #009900;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
#demo option {
    font-size: 12px;
}
#demo input {
    width: 198px;
    height: 24px;
    background: #eee;
    border: 1px solid #5CAE39;
    border-radius: 3px;
    color: #009900;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 40px;
}
#demo a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
#demo #title {
    width:300px;
    margin: 5px auto;
    padding: 0 0 0 30px;
}
#demo #title span{
    color: #ffff00;
}
#demo #box {
    width:300px;
    margin: 0 auto;
    padding: 0;
}
#demo #box .pc {
    padding-left:20px
}
#demo #box div{
    width:100px;
}
