#lang {
z-index: 10000;
position: fixed;
/*
left: 50%;
margin-left: -151px;
bottom: 5px;
width: 300px;
*/
top:0;
left: 0;
width: 100%;
padding: 0; /* w3 */
/*
background: #fafafa;
*/
color: #fff;
font-size: 11px;
font-weight: bold;
text-align: left;
/*
-webkit-box-shadow: 0 1px 2px 0 #ddd;
box-shadow: 0 1px 2px 0 #ddd;
*/
}
#lang #flags {
padding: 0;
overflow:auto;
height:100%;
max-height:600px;
}
#lang img {
height:18px;
}
