/* .latestThumbF { width:100%; margin:0px auto; border:0px solid #dddddd; } */
.latestThumbF { width:100%; margin:0px auto 20px; border:0px solid #dddddd; }

.latestThumbF .title  { float:left; width:160px; height:20px; font-size:10pt; font-weight: bold; color: #666666; vertical-align:middle; padding:3px; }
.latestThumbF .more { float:right; width:40px; height:20px; vertical-align:middle; padding:3px; }

.latestThumbF .title a:link , .latestThumbF .title a:visited { text-decoration:none; }
.latestThumbF .title a:hover { text-decoration:underline; }

.latestThumbF ul	{ width:100%; margin:0; padding:3px 0 3px 0; list-style:none; }
.latestThumbF li { margin:5px; padding:0; }

.latestThumbF .latestIMG { margin-right:0; border:0px solid #eeeeee; }
.latestThumbF .latestIMG img { border:0px solid #ffffff; }
.latestThumbF .latestIMG img:hover { border:0px solid #aa0000; } 

.latestThumbF li a:link, .latestThumbF li a:visited { color:#000000;  text-decoration:none; }
.latestThumbF li a:hover { color:#aa0000; text-decoration:underline; }

.latestComment 	{ font-size:8pt; color:#9a9a9a; }

.ca_name { color:#3333ff }
.cost { color:#aa0000 }
