/* 최근 게시물 */
#outnew_aside {position:relative;padding:15px 15px 14px 14px}
#outnew_aside div {margin:0 auto}
#outnew_aside div:after {display:block;visibility:hidden;clear:both;content:""}
#outnew_aside h2 {margin:0;padding:0}
#outnew_aside .btn_admin {margin-top:5px;width:164px;text-align:center}
#outnew_aside .btn_admin a {display:inline-block;padding:0px;color:#000;text-decoration:none}
#outnew_aside .btn_admin a:focus,
#outnew_aside .btn_admin a:hover {background:#333;color:#fff}
#outnew_aside ul {background:#f7f7f7;width:180px;margin:5px 0;padding:0;list-style:none}
#outnew_aside ul {float:left;list-style:none}
#outnew_aside li {float:left}
#outnew_aside ul a {display:inline-block;padding:10px;color:#000;text-decoration:none}
#outnew_aside ul a:focus,
#outnew_aside ul a:hover {background:#333;color:#fff}
