/* 방문자 집계 */
#visit_aside {position:relative;margin:0 0 20px;width:150px}
#visit_aside div {margin:0 auto}
#visit_aside div:after {display:block;visibility:hidden;clear:both;content:""}
#visit_aside h2 {margin:0;padding:0}
#visit_aside a.btn_admin {margin-top:5px;width:148px;height:24px;line-height:24px;text-align:center;display:inline-block;padding:0;text-decoration:none}
#visit_aside ul {background:#f7f7f7;width:150px;margin:5px 0;padding:0;list-style:none}
#visit_aside ul {float:left;list-style:none}
#visit_aside li {float:left;display:inline-block;padding:10px;color:#000;text-decoration:none}
#visit_aside li:focus,
#visit_aside li:hover {background:#333;color:#fff}
