/* 서버에 직접 폰트 설치하는 경우 (Microsoft) (License needed)
@font-face {
  font-family: 'Malgun Gothic';
  src: url('./MalgunGothic.eot');
  src: url('./MalgunGothic.eot?#iefix') format('embedded-opentype'),
       url('./MalgunGothic.woff') format('woff'),
       url('./MalgunGothic.ttf') format('truetype'),
       url('./MalgunGothic.svg#MalgunGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
body, h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, .new_win .win_ul a, td, .c1, .ct, .small {
  font-family:'Malgun Gothic';
}
