/* 새글 스킨 (latest webzine) */
.lt_gallery_wz_row {position:relative;float:left;margin-bottom:20px;padding-bottom:10px;width:100%;min-height:150px;border-bottom:1px solid #ddd}
.lt_gallery_wz_row .lt_pc {float:left;margin-left:20px}
.lt_gallery_wz_row .lt_title {display:block;padding:10px 0 8px 3px}
.lt_gallery_wz_row .lt_more {position:absolute;top:10px;right:0;padding-right:3px}

.lt_gallery_wz_row ul {background:#fff;width:100%;margin:5px 0;padding:0;list-style:none}
.lt_gallery_wz_row ul {float:left;list-style:none}
.lt_gallery_wz_row ul li {clear:both; float:left; padding:3px}
.lt_gallery_wz_row ul li a {display:inline-block;width:100%;padding:0px 2px;color:#000;text-decoration:none}
.lt_gallery_wz_row ul li a:focus,
.lt_gallery_wz_row ul li a:hover {text-decoration:underline}
.lt_gallery_wz_row ul li a img { border:1px solid #fff }
.lt_gallery_wz_row ul li a img:focus,
.lt_gallery_wz_row ul li a img:hover {border:1px solid #ccc}
.lt_gallery_wz_row ul li .left {float:left;width:78px;margin-right:2px}
.lt_gallery_wz_row ul li .right {float:left;padding:2px 3px;color:#000;vertical-align:top}
.lt_gallery_wz_row ul li .right .title {display:inline-block;margin-bottom:5px}
