@charset "utf-8";

/* List */
.talk-form .anc-write { display:none; }
.list-item .talk-bubble { padding:0; }
.list-item .list-chk { margin:0px; padding-top:6px; text-align:center; }
.list-item .list-content { position:relative; overflow:hidden; padding:3%; }
.list-item .list-details { margin-top:12px; padding:0px; }
.list-item .list-details .member, .list-item .list-details .guest { color:#333 !important; }
.list-item .list-sp { margin:0 8px; color:#ddd; font-size:11px; }

/* Responsive */
@media all and (max-width:420px) {
	.responsive .list-item .talk-img { float:none !important; margin:0 0 15px !important; width: 100% !important; }
}
