/* 폼 테이블 */
/*.cbox {margin:0 auto;margin-bottom:20px;padding:0;width:970px;border-collapse:collapse;border-spacing:0}*/
.cbox {margin:0;margin-bottom:20px;padding:15px 20px;min-width:970px;border-collapse:collapse;border-spacing:0}
.cbox h2 {margin:0;padding:0 0 10px}
.cbox_nohead {margin:0;margin-bottom:20px;padding:15px 20px;border-collapse:collapse;border-spacing:0}
.cbox_nohead h2 {margin:0;padding:0 0 10px}
.frm_tbl {margin-bottom:20px;width:100%;border-collapse:collapse;border-spacing:0}
.frm_tbl caption {padding:10px 0;font-weight:bold;text-align:left}
.frm_tbl th {width:100px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f7f7f7;vertical-align:top;text-align:left}
/* .frm_tbl td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent;vertical-align:top} */
/* .frm_tbl td {padding:5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent;vertical-align:top} */
.frm_tbl td {padding:5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;vertical-align:top}
.frm_tbl textarea, .frm_input {padding:2px 2px 3px;border:1px solid #b8c9c2;background:#f7f7f7;vertical-align:middle}
.frm_input:focus, input.required:focus {padding:3px 3px 4px;border:0;background:#21272e !important;color:#fff}
.frm_tbl textarea {width:90%;height:150px}
.frm_address {display:block;margin-top:5px}
.frm_file {display:block;margin-bottom:5px}
.frm_tbl #captcha {margin:0;padding:0;border:0;background:transparent}
.frm_tbl #captcha input {margin-left:5px;text-align:center}
.frm_tbl a {text-decoration:none}

.frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 테이블 항목별 정의 */
.td_chk {width:30px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_num {width:50px;text-align:center}
.td_bignum {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_mng {width:80px;text-align:center}

/* 새창 기본 스타일 */
.new_win {}
.new_win #new_win_title {margin-bottom:20px;padding:0 20px;height:60px;border-top:3px solid #4e5d60;border-bottom:1px solid #e9e9e9;background:#fff;font-size:1.2em;line-height:5em}
.new_win .basic_tbl {margin:0 auto 20px !important;width:93% !important;background:#fff !important}
.new_win .frm_tbl {margin:0 auto 20px !important;width:93% !important;background:#fff !important}
.new_win_ul {margin:-20px 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:"dotum";font-weight:bold;text-decoration:none}
.new_win_desc {margin:0 auto;width:93%}
