@charset "utf-8";

/* Common Shape*/
.lv-icon { display: inline-block; font-family:tahoma; height: 16px; width: 20px; line-height: 16px; -moz-border-radius: 0px; border-radius: 0px; text-align: center; font-size: 8px; font-weight:bold; }
.lv-icon i { font-size: 11px; }

/* Extra Shape */
.lv-admin { font-size:10px; background-color: rgb(233, 27, 35); color: rgb(255, 255, 255); } /* red */
.lv-special { font-size:10px; background-color: rgb(52, 152, 219); color: rgb(255, 255, 255); } /* blue */
.lv-guest { font-size:10px; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); } /* dark */

/* Level Icon */
.lv-1,
.lv-2,
.lv-3,
.lv-4,
.lv-5,
.lv-6,
.lv-7,
.lv-8,
.lv-9 { background-color: rgb(208, 208, 208); color: rgb(255, 255, 255); } /* gray */

.lv-10,
.lv-11,
.lv-12,
.lv-13,
.lv-14,
.lv-15,
.lv-16,
.lv-17,
.lv-18,
.lv-19 { background-color: rgb(142, 196, 73); color: rgb(255, 255, 255); } /* green */

.lv-20,
.lv-21,
.lv-22,
.lv-23,
.lv-24,
.lv-25,
.lv-26,
.lv-27,
.lv-28,
.lv-29 { background-color: rgb(241, 196, 15); color: rgb(255, 255, 255); } /* yellow */

.lv-30,
.lv-31,
.lv-32,
.lv-33,
.lv-34,
.lv-35,
.lv-36,
.lv-37,
.lv-38,
.lv-39 { background-color: rgb(86, 61, 124); color: rgb(255, 255, 255); } /* violet */

.lv-40,
.lv-41,
.lv-42,
.lv-43,
.lv-44,
.lv-45,
.lv-46,
.lv-47,
.lv-48,
.lv-49 { background-color: rgb(243, 156, 18); color: rgb(255, 255, 255); } /* orange */

.lv-50,
.lv-51,
.lv-52,
.lv-53,
.lv-54,
.lv-55,
.lv-56,
.lv-57,
.lv-58,
.lv-59 { background-color: rgb(233, 27, 35); color: rgb(255, 255, 255);  } /* red */

.lv-60,
.lv-61,
.lv-62,
.lv-63,
.lv-64,
.lv-65,
.lv-66,
.lv-67,
.lv-68,
.lv-69 { background-color: rgb(52, 152, 219); color: rgb(255, 255, 255); } /* blue */

.lv-70,
.lv-71,
.lv-72,
.lv-73,
.lv-74,
.lv-75,
.lv-76,
.lv-77,
.lv-78,
.lv-79 { background-color: rgb(142, 196, 73); color: rgb(255, 255, 255); } /* green */

.lv-80,
.lv-81,
.lv-82,
.lv-83,
.lv-84,
.lv-85,
.lv-86,
.lv-87,
.lv-88,
.lv-89 { background-color: rgb(243, 156, 18); color: rgb(255, 255, 255); } /* orange */

.lv-90,
.lv-91,
.lv-92,
.lv-93,
.lv-94,
.lv-95,
.lv-96,
.lv-97,
.lv-98,
.lv-99 { background-color: rgb(86, 61, 124); color: rgb(255, 255, 255); } /* violet */
